// Colors
$primary: #08f;
$error: #ff4757;
$success: #25ca49;
$alarm: #f1c40f;

// Options
$border-radius: 7.5px;



// Media Queries
$isDark: "(prefers-color-scheme: dark)";
$isLight: "(prefers-color-scheme: light)";
$isMobile: "only screen and(max-width: 850px)";
$isDesktop: "only screen and(min-width: 851px)";
